{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="ZESI System">
  <meta name="author" content="Todor Lubenov">

  <title>ЗЕСИ УЕБ система</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">
{% include 'navigation.html' %}
{% include 'header.html' %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

</body>

</html>